/* STYLESHEET TABLE OF CONTENTS
    1 Setup
        1.1 Variables
        1.2 Fonts
        1.3 HTML and body styling
          1.3.1 Flex
        1.4 Scrollbar and highlight
    2 General elements
        2.1 Titles
    3 Reusable sections
        3.1 Header
        3.2 Content sec
        3.3 Footer
    4 Specific sections
        4.1 Home page
            4.1.1 About me section
            4.1.2 Songs
            4.1.3 Easter egg
            4.1.M Media Queries
        4.2 Song Details
        4.3 Brukerstotte
            4.3.1 Html
            4.3.M Media Queries
        4.4 Driftstotte
            4.4.1 Html
            4.4.M Media Queries
        4.5 Utvikling
            4.5.1 Html
            4.5.M Media Queries
            4.6 Projects info
    5 Useless elements
 */





//====================================
//  1. Setup
//====================================
// 1.1 Variables
    $DM-Header-Background: #3d3d3d;
    $DM-Card-Gray: #505050;
    $DM-Body-Background: #333;
    $Menu-Btn-Gray: #505050;
    $DM-Text-Colour: #fefffe;
    $Site-Default-Red: #ed0929;
    $Site-Darker-Red: rgba(179, 8, 31, 0.5);
    $song-info: 30em;


// 1.2 Fonts
    *
    {
      font-family: 'Vollkorn', Arial, serif;
      font-size: 1em;
    }


// 1.3 HTML and body styling
    body
    {
      overflow:overlay;
      overflow-x: hidden;

    }


    *
    {
      color: $DM-Text-Colour;
      box-sizing: border-box;
      list-style-type: none;
      padding: 0;
      margin: 0;
      text-decoration: none;
    }

    //1.3.1 Flex
        //Flex Daddy
        .main-flex
        {
          width: 100%;
          flex-direction: column;
          justify-content: space-around;
          display:flex;

          text-align: center;
          align-items: center;
        }

        //Flex Child
        #main-content
        {
          width: 100%;
          background: $DM-Body-Background;
          padding: 5em auto 5em auto; // Top, right, bottom, left
          display: flex;

          justify-content: center;
          text-align: center;
          align-items: center;
        }

// 1.4 Scrollbar and highlight
    // Width
    ::-webkit-scrollbar
    {
      width: 10px;
    }

    // Track
    ::-webkit-scrollbar-track
    {
      background: none;
    }

    // Handle
    ::-webkit-scrollbar-thumb
    {
      background: $Site-Darker-Red;
    }

    // Handle on hover
    ::-webkit-scrollbar-thumb:hover
    {
      background: $Site-Default-Red;
    }


    ::-moz-selection
    {
      // Code for Firefox
      color: white;
      background: $Site-Darker-Red;
    }

    ::selection
    {
      color: white;
      background: $Site-Darker-Red;
    }

//====================================
// 2 General elements
//====================================
// 2.1 Titles
    h
    {
      font-size: 2em;
    }


//====================================
// 3 Reusable sections
//====================================
// 3.1 Header


// 3.2 Content sec
    .content-sec
    {
      width: 100%;
    }

// 3.3 Footer
    #footer-pre
    {
      justify-items: center;
      justify-content: center;
      justify-self: center;
    }

    footer
    {
      margin: 0;
      padding: 1em;
      background: $DM-Body-Background;
      border-top: 0.2em groove $Site-Default-Red;
      border-bottom: 0.2em groove $Site-Default-Red;
    }
//====================================
// 4 Specific sections
//====================================

// 4.1 Home page

    // 4.1.1 About me section

        //Define the pfp on index page
        #pfp_img
        {
          border-radius: 50%;
          user-select: none;
        }

        #selfbio
        {
          padding-top: 2em;
          padding-bottom: 2em;
          max-width: 70ch;
          display: revert;
        }

        //Custom definitions for bio on index
        .bio
        {
          overflow-wrap: normal;
          line-height: 2em

        }

        #interests
        {
          //border-top: 0.2em groove $Site-Default-Red;
          background: $DM-Body-Background;
          height: auto;
          padding-top: 2em;
        }

        .int-bio
        {
          display: inline-block;
          overflow-wrap: normal;
          line-height: 2em;
          max-width: 60ch;
        }

    // 4.1.2 Songs
        .artist-flex
        {
          display: flex;
          gap: 1.5em;
          flex-wrap: wrap;
          flex-direction: row;
          justify-content: space-around;

          height: auto;
          margin: 2em 0 2em 0;
        }

        $Album-Card-Width: 15em;

        .item-flex
        {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding-bottom: 1em;
          width: $Album-Card-Width;
          text-align: center;
          border-radius: 5%;
          border: $Site-Default-Red solid 2px;
          background: $DM-Card-Gray;
          margin: 2em;
        }

        .music
        {
          width: calc(15em - 4px);
          padding-bottom: 1em;
          user-select: none;
          border-radius: 5%;
        }

    // 4.1.3 Easter egg
        .hidden
        {
          position: fixed;
          right: 2rem;
          bottom: 2rem;
          transition: 0.3s;
          opacity: 0;

          &:hover
          {
            opacity: 1;
          }
        }

        .hid-img
        {
          user-select: none;
        }


    // 4.1.M Media Queries

        @media (max-width:567px)
        {
          .bio
          {
            width: 80%;
          }

        }

        @media (min-width:567px)
        {
          .bio
          {
            width: 30em;
          }

        }

        @media (max-width: 675px)
        {
          .artist-flex
          {
            height: auto;
          }
        }

        @media (min-width:950px)
        {
          .bio
          {
            width: 50em;
          }
        }

// 4.2 Song Details
    .info-artist-flex
    {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-around;

      height: auto;
      margin: 2em 0 2em 0;
    }



    .info-music-flex
    {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-bottom: 1em;
      width: 30em;
      text-align: center;
      border-radius: 5%;
      border: $Site-Default-Red solid 2px;
      background: $DM-Card-Gray;
      margin: 2em;
    }

    .info-music
    {
      width: calc(30em - 4px);
      border-radius: 5% 5% 0 0;
      padding-bottom: 1em;
      user-select: none;
      margin: 0 5em 0 0
    }

    .info-music-platform
    {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    .music-link
    {
      margin: 1em 2em auto 2em;
      text-decoration: underline;
    }


    #youtube-link
    {
      width: 64px;
    }

    #info-music-platform-youtube
    {
      display: flex;
      flex-direction: column;
    }


    #spotify-link
    {
      width: 64px;
    }

    #info-music-platform-spotify
    {
      display: flex;
      flex-direction: column;
    }



//4.3 Brukerstotte
    // 4.3.1 Html
        #brukerstotte-main
        {
          display: flex;
          height: 50em;
          background: $DM-Body-Background;
        }

        .brukerstotte-txt
        {
          overflow-wrap: normal;
          line-height: 2em
        }

    // 4.3.M Media Queries
        @media (max-width:567px)
        {
          .brukerstotte-banner
          {
            width: 100%;
          }
        }

        @media (min-width:567px) {
          .brukerstotte-banner
          {
            width: 80%;
          }

        }

        @media (max-width: 675px)
        {
          .brukerstotte-banner
          {
            width: 100%;
          }
        }
        @media (min-width:950px)
        {
          .brukerstotte-banner
          {
            width: 75%;
          }
        }

// 4.4 Driftstotte

    //4.4.1 Html
        #driftstotte-main
        {
          display: flex;
          height: 50em;
          background: $DM-Body-Background;
        }

        .driftstotte-txt
        {
          overflow-wrap: normal;
          line-height: 2em
        }


    //4.4.M Media Queries

        @media (max-width:567px)
        {
          .driftstotte-banner
          {
            width: 100%;
          }
        }

        @media (min-width:567px)
        {
          .driftstotte-banner
          {
            width: 80%;
          }

        }

        @media (max-width: 675px)
        {
          .driftstotte-banner
          {
            width: 100%;
          }
        }

        @media (min-width:950px)
        {
          .driftstotte-banner
          {
            width: 75%;
          }
        }

//4.5 Utvikling
    //4.5.1 Html

        #utvikling-main
        {
          display: flex;
          height: 50em;
          background: $DM-Body-Background;
        }

        .utvikling-txt
        {
          width: 70ch;
          overflow-wrap: normal;
          line-height: 2em
        }

        .utvikling-banner
        {
          object-fit: contain;
          max-height: 600px;
        }



    //4.5.M Media Queries
        @media (max-width:567px)
        {
          .utvikling-banner
          {
            width: 100%;
          }
        }

        @media (min-width:567px)
        {
          .utvikling-banner
          {
            width: 80%;
          }

        }

        @media (max-width: 675px)
        {
          .utvikling-banner
          {
            width: 100%;
          }
        }

        @media (min-width:950px)
        {
          .utvikling-banner
          {
            width: 75%;
          }
        }


// 4.6 Projects info
    .info-project-flex
    {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-around;

      height: auto;
      margin: 2em 0 2em 0;
    }



    .infocard-project-flex
    {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-bottom: 1em;
      width: 30em;
      text-align: center;
      border-radius: 5%;
      border: $Site-Default-Red solid 2px;
      background: $DM-Card-Gray;
      margin: 2em;

    }

    .info-project-img
    {
      width: calc(30em - 4px);
      padding-bottom: 1em;
      user-select: none;
      border-radius: 5%;
      margin: 0 5em 0 0
    }

    .proj-description {
      width:70ch;
    }

    .project-link
    {
      text-decoration: underline;
    }
// 5 Useless elements

