/*====================================
  BASE STYLES
====================================*/
body {
  overflow: overlay;
  overflow-x: hidden;
}

/*CSS colour variables*/
* {
  /*Define the text*/
  color: #fefffe;
  box-sizing: border-box;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  size: 16px;
  font-family: "Vollkorn", Arial, serif;
  font-size: 1em;
}

h {
  font-size: 2em;
}

/*Define the content area*/
.content-sec {
  width: 100%;
}

/*====================================
Scroll bar and marking
====================================*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(179, 8, 31, 0.5);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ed0929;
}

::-moz-selection {
  color: white;
  background: rgba(179, 8, 31, 0.5);
}

::selection {
  color: white;
  background: rgba(179, 8, 31, 0.5);
}

/*====================================
Main Content
====================================*/
/*Define the flex parent*/
.main-flex {
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

/*Define flex child*/
#main-content {
  width: 100%;
  background: var(#333);
  padding: 5em auto 5em auto;
  /*Top, right, bottom, left*/
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

/*====================================
Index Content
====================================*/
/*Define the pfp on index page*/
#pfp_img {
  border-radius: 50%;
  user-select: none;
}

#selfbio {
  padding-top: 2em;
  padding-bottom: 2em;
  max-width: 70ch;
}

/*Custom definitions for bio on index*/
.bio {
  overflow-wrap: normal;
  line-height: 2em;
}

#interests {
  border-top: 0.2em groove #ed0929;
  background: #333;
  height: auto;
  padding-top: 2em;
}

.int-bio {
  display: inline-block;
  overflow-wrap: normal;
  line-height: 2em;
  max-width: 60ch;
}

/*====================================
Interests section
====================================*/
.artist-flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  height: auto;
  margin: 2em 0 2em 0;
}



.item-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 1em;
  width: 15em;
  text-align: center;
  border-radius: 5%;
  background: #505050;

}

/*TODO Fix hover thing on artist cards*/

/* transition: all 300ms ease;
.item-flex :hover {
  width: 16em;
}*/

.music {
  width: 15em;
  padding-bottom: 1em;
  user-select: none;
  border-radius: 5%;
  margin: 0 5em 0 0;
}


/*====================================
Info artist
====================================*/
.info-artist-flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  height: auto;
  margin: 2em 0 2em 0;
}



.info-music-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 1em;
  width: 15em;
  text-align: center;
  border-radius: 5%;
  background: #505050;

}



.info-music {
  width: 15em;
  padding-bottom: 1em;
  user-select: none;
  border-radius: 5%;
  margin: 0 5em 0 0;
}
/*====================================
Footer style
====================================*/
footer {
  margin-top: 5em;
  padding: 1em;
  border-top: 0.2em groove var(#ed0929);
  border-bottom: 0.2em groove var(#ed0929);
}

/*====================================
Media queries for content
====================================*/
@media (max-width: 567px) {
  .bio {
    width: 80%;
  }
}
@media (min-width: 567px) {
  .bio {
    width: 30em;
  }
}
@media (max-width: 675px) {
  .artist-flex {
    height: auto;
  }
}
@media (min-width: 950px) {
  .bio {
    width: 50em;
  }
}
/*====================================
Brukerstotte Content
====================================*/
#brukerstotte-main {
  display: flex;
  height: 50em;
  background: var(#333);
}

.brukerstotte-txt {
  overflow-wrap: normal;
  line-height: 2em;
}

/*====================================
Media queries for content
====================================*/
@media (max-width: 567px) {
  .brukerstotte-banner {
    width: 100%;
  }
}
@media (min-width: 567px) {
  .brukerstotte-banner {
    width: 80%;
  }
}
@media (max-width: 675px) {
  .brukerstotte-banner {
    width: 100%;
  }
}
@media (min-width: 950px) {
  .brukerstotte-banner {
    width: 75%;
  }
}
/*====================================
driftstotte Content
====================================*/
#driftstotte-main {
  display: flex;
  height: 50em;
  background: var(#333);
}

.driftstotte-txt {
  overflow-wrap: normal;
  line-height: 2em;
}

/*====================================
Media queries for content
====================================*/
@media (max-width: 567px) {
  .driftstotte-banner {
    width: 100%;
  }
}
@media (min-width: 567px) {
  .driftstotte-banner {
    width: 80%;
  }
}
@media (max-width: 675px) {
  .driftstotte-banner {
    width: 100%;
  }
}
@media (min-width: 950px) {
  .driftstotte-banner {
    width: 75%;
  }
}
/*====================================
driftstotte Content
====================================*/
#utvikling-main {
  display: flex;
  height: 50em;
  background: var(#333);
}

.utvikling-txt {
  overflow-wrap: normal;
  line-height: 2em;
}

.utvikling-banner {
  object-fit: contain;
  max-height: 600px;
}

/*====================================
Media queries for content
====================================*/
@media (max-width: 567px) {
  .utvikling-banner {
    width: 100%;
  }
}
@media (min-width: 567px) {
  .utvikling-banner {
    width: 80%;
  }
}
@media (max-width: 675px) {
  .utvikling-banner {
    width: 100%;
  }
}
@media (min-width: 950px) {
  .utvikling-banner {
    width: 75%;
  }
}

/*# sourceMappingURL=main.css.map */


