/*====================================
  BASE STYLES
====================================*/
body {
  overflow:overlay;
  overflow-x: hidden;

}


/*CSS colour variables*/
$DM-Header-Background: #3d3d3d;
$DM-Card-Gray: #505050;
$DM-Body-Background: #333;
$Menu-Btn-Gray: #505050;
$DM-Text-Colour: #fefffe;
$Site-Default-Red: #ed0929;
$Site-Darker-Red: rgba(179, 8, 31, 0.5);
$song-info: 30em;

* { 
  /*Define the text*/
  color: $DM-Text-Colour;
  box-sizing: border-box;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: 'Vollkorn', Arial, serif;
  font-size: 1em;
}

h {
  font-size: 2em;
}

/*Define the content area*/
.content-sec {
  width: 100%;
 }

#footer-pre {
  justify-items: center;
  justify-content: center;
  justify-self: center;
}
/*====================================
Scroll bar and marking
====================================*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: $Site-Darker-Red;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $Site-Default-Red;
}


::-moz-selection{
  // Code for Firefox
  color: white;
  background: $Site-Darker-Red;
}

::selection{
  color: white;
  background: $Site-Darker-Red;
}

/*====================================
Main Content
====================================*/

/*Define the flex parent*/
.main-flex {
  width: 100%;
  flex-direction: column;
  justify-content: space-around;

  text-align: center;
  align-items: center;
}

/*Define flex child*/
#main-content {
  width: 100%;
  background: $DM-Body-Background;
  padding: 5em auto 5em auto; /*Top, right, bottom, left*/
  display: flex;

  justify-content: center;
  text-align: center;
  align-items: center;
}
/*====================================
Index Content
====================================*/
/*Define the pfp on index page*/
#pfp_img {
  border-radius: 50%;
  user-select: none;
}

#selfbio {
  padding-top: 2em;
  padding-bottom: 2em;
  max-width: 70ch;
}

/*Custom definitions for bio on index*/
.bio {
  overflow-wrap: normal;
  line-height: 2em

}

#interests {
  border-top: 0.2em groove $Site-Default-Red;
  background: $DM-Body-Background;
  height: auto;
  padding-top: 2em;
}

.int-bio {
  display: inline-block;
  overflow-wrap: normal;
  line-height: 2em;
  max-width: 60ch;
}

/*====================================
Interests section
====================================*/
.artist-flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;

  height: auto;
  margin: 2em 0 2em 0;
}

$Album-Card-Width: 15em;

.item-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 1em;
  width: $Album-Card-Width;
  text-align: center;
  border-radius: 5%;
  background: $DM-Card-Gray;
  margin: 2em;
}

.album-img {
  width: $Album-Card-Width;
  padding-bottom: 1em;
  user-select: none;
  border-radius: 5%;
  margin: 0 5em 0 0
}

/*====================================
Music details flex section
====================================*/
.info-artist-flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;

  height: auto;
  margin: 2em 0 2em 0;
}



.info-item-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 1em;
  width: 30em;
  text-align: center;
  border-radius: 5%;
  background: $DM-Card-Gray;
  margin: 2em;
}

.info-album-img {
  width: 30em;
  padding-bottom: 1em;
  user-select: none;
  border-radius: 5%;
  margin: 0 5em 0 0
}



/*====================================
Footer style
====================================*/
footer {
  margin: 0;
  padding: 1em;
  background: $DM-Body-Background;
  border-top: 0.2em groove $Site-Default-Red;
  border-bottom: 0.2em groove $Site-Default-Red;
}

.foot {
  justify-items: center;
  justify-content: center;
  justify-self: center;
}

/*====================================
Media queries for content
====================================*/

@media (max-width:567px) {
  .bio {
    width: 80%;
  }

}

@media (min-width:567px) {
  .bio {
    width: 30em;
  }

}

@media (max-width: 675px) {
  .artist-flex {
    height: auto;
  }
}

@media (min-width:950px) {
  .bio {
    width: 50em;
  }
}





/*====================================
Brukerstotte Content
====================================*/

#brukerstotte-main {
  display: flex;
  height: 50em;
  background: $DM-Body-Background;
}

.brukerstotte-txt {
  overflow-wrap: normal;
  line-height: 2em
}

/*====================================
Media queries for content
====================================*/
@media (max-width:567px) {
  .brukerstotte-banner{
    width: 100%;
  }
}

@media (min-width:567px) {
  .brukerstotte-banner {
    width: 80%;
  }

}

@media (max-width: 675px) {
  .brukerstotte-banner {
    width: 100%;
  }
}
@media (min-width:950px) {
  .brukerstotte-banner {
    width: 75%;
  }
}


/*====================================
driftstotte Content
====================================*/

#driftstotte-main {
  display: flex;
  height: 50em;
  background: $DM-Body-Background;
}

.driftstotte-txt {
  overflow-wrap: normal;
  line-height: 2em
}

/*====================================
Media queries for content
====================================*/
@media (max-width:567px) {
  .driftstotte-banner{
    width: 100%;
  }
}

@media (min-width:567px) {
  .driftstotte-banner {
    width: 80%;
  }

}

@media (max-width: 675px) {
  .driftstotte-banner {
    width: 100%;
  }
}

@media (min-width:950px) {
  .driftstotte-banner {
    width: 75%;
  }
}



/*====================================
driftstotte Content
====================================*/

#utvikling-main {
  display: flex;
  height: 50em;
  background: $DM-Body-Background;
}

.utvikling-txt {
  overflow-wrap: normal;
  line-height: 2em
}

.utvikling-banner {
  object-fit: contain;
  max-height: 600px;
}
/*====================================
Media queries for content
====================================*/
@media (max-width:567px) {
  .utvikling-banner{
    width: 100%;
  }
}

@media (min-width:567px) {
  .utvikling-banner {
    width: 80%;
  }

}

@media (max-width: 675px) {
  .utvikling-banner {
    width: 100%;
  }
}

@media (min-width:950px) {
  .utvikling-banner {
    width: 75%;
  }
}



