/*====================================
  BASE STYLES
====================================*/
body {
  overflow:overlay;
  overflow-x: hidden;
  
  /*CSS colour variables*/
  --DM-Header-Background: #3d3d3d;
  --DM-Body-Background: #333;
  --Menu-Btn-Gray: #505050;
  --DM-Text-Colour: #fefffe;
  --Site-Default-Red: #ed0929;
  --Site-Darker-Red: rgba(179, 8, 31, 0.5);
}

* { 
  /*Define the text*/
  color: var(--DM-Text-Colour);
  box-sizing: border-box;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  size: 16px;
  font-family: 'Vollkorn', Arial, serif;
 font-size: 1em; 
}

/*Define the content area*/
.content-sec {
  width: 100%;
 }

/*====================================
Scroll bar and marking
====================================*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--Site-Darker-Red); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--Site-Default-Red); 
}


::-moz-selection{
  // Code for Firefox
  color: white;
  background: var(--Site-Darker-Red);
}

::selection{
  color: white;
  background: var(--Site-Darker-Red);
}

/*====================================
Main Content
====================================*/

/*Define the flex parent*/
.main-flex {
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}

/*Define flex child*/
#main-content {
  width: 100%;
  background: var(--DM-Body-Background);
  padding: 5em auto 5em auto; /*Top, right, bottom, left*/
  display: flex;

  justify-content: center;
  text-align: center;
  align-items: center;
}

/*Define the pfp on index page*/
#pfp_img {
  border-radius: 50%;
  user-select: none;
}

#selfbio {
  padding-top: 2em;
  padding-bottom: 2em;
  max-width: 70ch;
}

/*Custom definitions for bio on index*/
.bio {
  overflow-wrap: normal;
  line-height: 2em

}

#interests {
  border-top: 0.2em groove var(--Site-Darker-Red) ;
  background: var(--DM-Body-Background);
  height: auto;
  padding-top: 2em;
}

.int-bio {
  display: inline-block;
  overflow-wrap: normal;
  line-height: 2em;
  max-width: 60ch;
}

/*====================================
Interests section
====================================*/
.artist-flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;

  --Album-Card-Width: 15em;
  height: auto;
  margin: 2em 0 2em 0;
}

.item-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 1em;
  width: var(--Album-Card-Width);
  text-align: left;
}

.album-img {
  width: var(--Album-Card-Width);
  user-select: none;
  border-radius: 5%;
  margin: 0 5em 0 0
}





/*====================================
Footer style
====================================*/
footer {
  margin-top: 5em;
  padding: 1em;
  border-top: 0.2em groove var(--Site-Darker-Red);
  border-bottom: 0.2em groove var(--Site-Darker-Red);
}

/*====================================
Media queries for content
====================================*/

@media (max-width:567px) {
  .bio {
    width: 80%;
  }

}

@media (min-width: 567px) {
  .bio {
    width: 30em;
  }

}

@media (min-width: 950px) {
  .bio {
    width: 50em;
  }
}

@media (max-width: 675px) {
  .artist-flex {
    height: auto;
  }
}