<!DOCTYPE html>

<!-- Copyright © 2022, Recal Studios -->
<html lang="en">
<head>
    <!-- Metadata -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css">

    <!-- SEO -->
    <title>Recal Social</title>
    <meta name="description" content="Recal Social">
    <link rel="canonical" href="https://recalstudios.net/">

    <!-- Link preview -->
    <meta property="og:title" content="Recal Social">
    <meta property="og:link" content="https://social.recalstudios.net/">
    <meta property="og:url" content="https://social.recalstudios.net/">
    <meta property="og:description" content="Recal Social">
    <meta property="og:image" content="https://recalstudios.net/assets/brand/logo+color.png">
    <meta property="og:image:alt" content="Recal Studios logo">
    <meta property="og:site_name" content="Recal Studios">
    <meta property="og:type" content="website">
</head>
<body>
<div class="logo"></div>
<h1>Topheinz</h1>
<h3>This site is currently being redesigned</h3>
<div class="horizontal width25">
    <a class="animated-link" href="https://v2.topheinz.com">Normal</a>
    <a class="animated-link" routerLink="/home">New version</a>
</div>
</body>
</html>
