<div class="header horizontal padding-sides">

    <!-- Left side of header -->
    <div class="horizontal">
        <!-- Adds the logo -->
        <a routerLink="/home">
            <img class="img" src="/assets/logo.png" alt="logo" width="128">
        </a>


        <!-- Adds the buttons -->
        <div class="horizontal center-text buttons">
            <a class="link" routerLink="/home">Home</a>
            <a class="link" routerLink="/projects">Projects</a>
            <a class="link" routerLink="/school">School</a>
            <a class="link" routerLink="/about">About</a>
        </div>
    </div>

    <!-- Right side of header -->
    <div class="horizontal center-text">
        <a>
            <img class="img pfp" src="https://via.placeholder.com/50" alt="pfp">
        </a>
    </div>

</div>
