// Import main css
@import "/src/styles";


// Styles each project card
.project
{
    // Size
    min-width: 9.6rem;
    max-width: 20rem;
    width: 15%;

    // Flex
    display: flex;
    flex-direction: column;

    // Styling
    border-radius: $Rounderness;
    background-color: $Site-Darkerer-Color;

    // Animation
    transition: ease-in-out 200ms;

    &:hover
    {
        background-color:$Site-Darker-Color;
    }
}

// Styles image
.project-image
{
    // Size
    object-fit:cover;
    aspect-ratio:1;
    width:80%;

    // Margin
    margin: 9px;
    margin-bottom: 0 !important; // Closes the distance between image and text

    // Styling
    border-radius: $Rounderness; // Round
}

// Time tags
.project-dates
{
    margin: 0.25rem;
}
