<app-header></app-header>

<div class="margin vertical center-text">

    <!-- Profile -->
    <section class="horizontal center-text" id="henrik-sect">
        <!-- Information -->
        <div class="vertical right-text">
            <h1 class="henrik-desc">Henrik Xavier Nepstad</h1>
            <p class="henrik-desc">Work: IT Trainee at Odfjell</p>
            <p class="henrik-desc">Devs: Front and backend developer</p>
            <p class="henrik-desc">Born: 12th of November 2004</p>
            <p class="henrik-desc">Lives in: Bergen, Norway</p>
        </div>

        <!-- Picture -->
        <img class="img henrik-img" src="assets/HenrikXavierNepstad.jpg" alt="image of Henrik">
    </section>

    <!-- Introduction -->
    <section class="margin ch70">
        <h3>Who am I?</h3>
        <p class="text-block">My name is Henrik Xavier Nepstad. I am {{yearsSince(2004, 10, 12)}} years old, and love learning
            about IT! I am doing a school course for IT and am learning about
            html, css, javascript, dotnet python, linux, active directory and azure.
        </p>

        <p class="text-block">
            I made this site by myself using angular and load all of my projects
            dynamically. I plan on soon adding support for Recal users (users on a platform me and some
            friends are making). This will let users log in on all our websites and platforms
            using OAuth. I will also implement an API for the projects so I can load the projects
            and update them from the frontend.
        </p>

        <p class="text-block">
            As of now, I'm working at Odfjell as a part of my educational program.
            I will stay at Odfjell for two years, during which I will learn how to work efficiently in a business.
            Hopefully, I will have time to work on projects in my spare time, so that i can update this site some more.
        </p>

    </section>
</div>
