<app-header></app-header>
<div class="vertical center-text">
    <h1>Hi!</h1>
    <p class="text-block">I am available on any of the platforms listed bellow. If you have any questions related to this
        site or anything else for that matter, feel free to contact me! I'm always available should you have any questions</p>
    <div class="platform-flex">

        <!-- LinkedIn -->
        <div class="platform">
            <a href="https://www.linkedin.com/in/henrik-x-nepstad/">
                <img class="platform-image" src="assets/platforms/linkedin/LI-In-Bug.png" alt="LinkedIn logo">
                <h1>LinkedIn</h1>
                <p>Henrik X Nepstad</p>
            </a>
        </div>
        <!-- Github -->
        <div class="platform">
            <a href="https://github.com/HeinzNepe">
            <img class="platform-image" src="/assets/platforms/github/Octocat.png" alt="Github logo">
            <h1>Github</h1>
            <p>HeinzNepe</p>
            </a>
        </div>
        <!-- Discord -->
        <div class="platform">
            <a href="https://discordapp.com/users/168974690834972672">
            <img class="platform-image" src="/assets/platforms/discord/icon_clyde_blurple_RGB(120).png" alt="Discord logo">
            <h1>Discord</h1>
            <p>HeinzNepe</p>
            </a>
        </div>
        <!-- Facebook -->
        <div class="platform">
            <a href="https://www.facebook.com/profile.php?id=100011452733251">
            <img class="platform-image" src="/assets/platforms/facebook/f_logo_RGB-Blue_(120).png" alt="Facebook logo">
            <h1>Facebook</h1>
            <p>Henrik X Nepstad</p>
            </a>
        </div>
        <!-- Steam -->
        <div class="platform">
            <a href="https://steamcommunity.com/id/HexioBoi/">
            <img class="platform-image" src="/assets/platforms/steam/Steam_icon_logo(120).png" alt="Steam logo">
            <h1>Steam</h1>
            <p>HexioBoi</p>
            </a>
        </div>
    </div>
</div>
