<app-header></app-header>

<div class="vertical center-text">
    <h1>Projects page</h1>
    <section>
        <div *ngFor="let subject of subjects">
            <!-- Subject only shows is project -->
            <div *ngIf="subject.projects.length > 0">
                <h1>{{subject.name}}</h1>
                <div  class="horizontal">
                    <div *ngFor="let project of subject.projects">
                        <div class="vertical">
                            <p>{{project.name}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
