/* You can add global styles to this file, and also import other style files */

/*    TABLE OF CONTENTS
   1  Global
     1.1 Imports
     1.2 Variables
     1.3 Global
     1.4 Scrollbar and select

================================*/

// 1.1 Imports
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

//  1.2 Variables
    $Text-White:#e8eaed;
    $Faded-Text-White: #9d9d9d;
    $Background-Gray:#2F3137;
    $Background-Darker:#212227;
    $Site-Color:#8892ec;
    $Site-Dark-Color:#6a72b9;
    $Site-Darker-Color:#4c5285;
    $Site-Darkerer-Color:#40446E;
    $Site-Darkest-Color:#2D304D;

    // Global
    $Roundness:5%;
    $Rounderness:.5rem;

//  1.3 Global
    *
    {
        font-family: 'Noto Sans', sans-serif;
    }

    img
    {
        user-select: none;
    }

    hr
    {
        border-bottom: 1px solid $Text-White;
        margin: 1.5rem auto 1.5rem auto;
    }

    body
    {
        overflow-x: hidden;
        margin:0;
        padding:0;
        color: $Text-White;
        background-color: $Background-Darker;
    }

// 1.4 Scrollbar and select

    // Width
    ::-webkit-scrollbar
    {
        width: 10px;
    }

    // Track
    ::-webkit-scrollbar-track
    {
        background: none;
    }

    // Handle
    ::-webkit-scrollbar-thumb
    {
        background: $Site-Darkerer-Color;
    }

    // Handle on hover
    ::-webkit-scrollbar-thumb:hover
    {
        background: $Site-Color;
    }


    ::-moz-selection
    {
        // Code for Firefox
        color: white;
        background: $Site-Darkest-Color;
    }

    ::selection
    {
        color: white;
        background: $Site-Darkest-Color;
    }




// 2.1 Utility classes

    // Layout
    .horizontal{display:flex;flex-direction:row;justify-content:space-between;}
    .vertical{display:flex;flex-direction:column;justify-content:space-between;}
    .rounded{border-radius: $Roundness;}
    .space-around{justify-content:space-around !important;}

    // Text layout and styling
    .text-block {width: 69ch !important;line-height: 1.5em;p{padding: 1rem;}}
    .center-text{text-align:center !important;align-items: center !important;}
    .left-text{text-align:left !important;}
    .right-text{text-align:right !important;}
    .gray-text{color: $Faded-Text-White}
    .link{color:$Text-White;font-weight: bold;}
    .animated-link{font-size: 1.5rem;position: relative;text-align: center;justify-content: center;color: $Text-White;text-decoration: none;font-weight: bold;&::after{position: absolute;content: "";left: 0;bottom: -5px;width: 100%;height: 5px;background: $Site-Color;border-radius: 2rem;transform: scaleX(0);transition: 200ms ease;} &:hover:not(.no-line)::after{transform: unset;}}

    // Image layout and styling
    .img{object-fit:cover;aspect-ratio:1;border-radius: $Rounderness;}
    .sixrem-img{object-fit:cover;width:6rem;aspect-ratio:1;border-radius: $Rounderness;}

    // Padding and Margin
    .padding{padding: 0.75rem}
    .padding-sides{padding: 0 2rem;}

    .margin{margin: 2rem;}
    .more-margin{margin: 5rem;}
    .bottom-margin{margin-bottom: 6rem;}
    .lessmargin{margin: 1rem;}
    .zero{margin:0;padding: 0;}

    // Width
    .fit-content{width: fit-content;}
    .ch70{width:70ch !important;}
    .width25{width:25% !important;}
    .width30{width:30% !important;}
    .width40{width:40% !important;}
    .width50{width:50% !important;}
    .width60{width:60% !important;}
    .width100{width:100% !important;}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
