// Import main stylesheet
@import "src/styles.scss";

// Section containing Henrik description and image
    #henrik-sect
    {
        width: 40rem;
    }
    // Henrik Xavier Nepstad description
        .henrik-desc
        {
            padding: 0.06125rem;
            margin: 0.5rem;
            float: right;

            &:is(p)
            {
                color: $Faded-Text-White;
            }
        }


    // Henrik Xavier Nepstad picture
        .henrik-img
        {
            margin-right: 3rem;
            width:15rem;
            border-radius: 100%;
        }


