<div class="header horizontal padding-sides">

    <!-- Left side of header -->
    <div class="horizontal">
        <!-- Adds the logo -->
        <a routerLink="/home">
            <div class="logo"></div>
        </a>


        <!-- Adds the buttons -->
        <div class="horizontal center-text buttons">
            <a class="animated-link" routerLink="/home">Home</a>
            <a class="animated-link" routerLink="/projects">Projects</a>
            <a class="animated-link" routerLink="/socials">Socials</a>
            <a class="animated-link" routerLink="/about">About</a>
        </div>
    </div>

    <!-- Right side of header -->
    <!--
    <div class="horizontal center-text">
        <a>
            <img class="img pfp" src="https://via.placeholder.com/50" alt="pfp">
        </a>
    </div>
    -->

</div>
