// Import main stylesheet
    @import "/src/styles";


// Logo
    .logo
    {
        width: 15rem;
        aspect-ratio: 1;
        margin: -4rem;
        background: linear-gradient(45deg, $Site-Dark-Color, $Site-Color);
        mask-image: url("/assets/logo.svg");
        -webkit-mask-image: url("/assets/logo.svg");
        mask-size: 100%;
        transform: scale(.30);
    }

// Styles header box
    .header
    {
        background-color: $Background-Gray;
        box-shadow: $Site-Color 0 0 1rem;
    }

// Styling for button flex
    .buttons
    {
        width: 25rem;
    }

// Sets size for pfp
    .pfp
    {
        width: 5rem;
        height: 5rem;
    }
